* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px;
  z-index: 10px;
}

main {
  padding-top: 50px;
  background-color: white;
}

.freaky-link {
  margin-left: 15px;
  font-family: "Playwrite GB S", "Playfair Display", Georgia, "Times New Roman",
    serif;
  font-size: 25px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  margin-right: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: lightgray;
}

nav a:active {
  color: white;
}

/*Footer*/
footer {
  background-color: black;
  color: #fff;
  padding: 20px;
}
.about nav {
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: "Playwrite GB S", "Playfair Display", Georgia, "Times New Roman",
    serif;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #555;
  margin-top: 10px;
  font-size: 0.9rem;
}

/*Mobile view*/

@media (min-width: 320px) and (max-width: 480px) {
  .main-div {
    width: 100vw;
  }

  header {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }

  nav {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin: 10px 0;
    width: 100%;
  }

  .footer-bottom {
    text-align: center;
    padding: 10px 0;
  }
}
